h1, h2 ,h3 ,h4 ,h5 ,h6 {
color: 	#202020;
}

p {
    font-weight: bold;
    color: #100000 ;
    font-size: 20px;
}
ul{
    font-size: 20px;
    
    
}

ol{
    font-size: 20px;
    font-style: italic;
}
strong{
    font-size: 25px;
    color: red;
}
body{
    background-color: tan;
    margin: auto;
    width: 800px;
    height: :;
    
    
}
.ul3{ margin:0 30% 0 30%;
    
}
.ul2{
    margin:0 20% 0 20%;
}

a:hover{
    color: red;
}
a:active{
    color:green;
}
hr{
    color: black;
}


/*  
h1 {
font-size: 2.5em;  40px/16=2.5em 
}

h2 {
font-size: 1.875em;  30px/16=1.875em 
}  

p {
font-size: 0.875em;  14px/16=0.875em 
} 
*/

